.card {
    align-items: center;

    margin: 0 auto;
	padding: 5px;

    background: var(--secondary);
    border-radius: 30px;
}

@media (min-width: 375px) {
    .card {
        max-width: 90%;
    }
}
@media (min-width: 576px) {
    .card {
        max-width: 85%;
    }
}
@media (min-width: 768px) {
    .card {
        max-width: 80%;
    }
}
@media (min-width: 992px) {
    .card {
        max-width: 75%;
    }
}
@media (min-width: 1200px) {
    .card {
        max-width: 70%;
    }
}
@media (min-width: 1400px) {
    .card {
        max-width: 65%;
    }
}