#nav-name {
    font-size: 9vw;
    color: var(--secondary);
}

#nav-wave {
    font-size: 9vw;
    padding-right: 10px;
}

@media screen and (max-width: 1440px) {
    #nav-name, #nav-wave {
       font-size: 40px;
    }
}
@media screen and (max-width: 768px) {
    #nav-name, #nav-wave {
       font-size: 30px;
    }
}

#nav-wave:hover {
    animation-name: wave-animation;
    animation-duration: 1.0s;
    transform-origin: 70% 70%;
    display: inline-block;
}
  
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    20% { transform: rotate(14.0deg) } 
    40% { transform: rotate(-8.0deg) }
    60% { transform: rotate(14.0deg) }
    80% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
}

a {
    text-decoration: none;
}

#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
}

#nav-menu {
	justify-content: space-between;
	align-items: center;
    color: var(--secondary);
    transition: 0.3s;
}

.nav-item {
    margin: 1rem;
    text-decoration: none;
    color: var(--secondary)
}

.nav-item:hover {
    color: var(--accent)
}

#hamburger {
	display: none;
}

.line {
	width: 20px;
	height: 1px;

	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

    display: block;
	margin: 5px 0;
	background-color: var(--secondary);
}

#toggle {
    margin: 0 1rem;
	color: var(--secondary);
}

#toggle:hover {
	color: var(--accent);
}

@media only screen and (max-width: 768px) {
	#nav-menu {
        top: 0;
        left: 0;
        position: fixed;
        z-index: 1;

        width: 0;
        height: 100%;
        
        text-align: center;
        padding-top: 25%;
        background-color: var(--text);
        overflow-x: hidden;
        transition: 0.5s;
	}

	#nav-menu.active {
		width: 250px;
	}

	.nav-item, #toggle {
        margin: 1.5rem 5rem;
        transition: 0.3s;

        display: inline-block;
        flex-direction: column;
	}

	#hamburger {
		display: block;
		cursor: pointer;
	}

    text {
        display: none;
    }

	#hamburger.active .line:nth-child(2) {
		opacity: 0;
	}

	#hamburger.active .line:nth-child(1) {
		transform: translateY(6px) rotate(135deg);
	}

	#hamburger.active .line:nth-child(3) {
		transform: translateY(-6px) rotate(45deg);
	}
}